.filmPage {
    display: flex;
    width: 950px;
    margin: 0 auto;
    margin-top: 77px;
    margin-bottom: 20px;

    h1,
    h3 {
        color: #616161;
    }

    .infoWrapper {
        display: flex;
        margin: 0 auto;
        margin-top: -86px;
        width: 900px;
    }

    .infoBlock {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 658px;
        margin-left: 25px;
        padding-top: 98px;
    }

    .infoItem {
        border-bottom: 1px solid;
        border-color: grey;
        box-shadow: 0px 14px 8px -7px rgba(34, 60, 80, 0.2);

        span {
            font-style: italic;
        }
    }

    img {
        position: relative;
        z-index: 100;
        border-radius: 3px;
        width: 210px;
        height: 323px;
        object-fit: cover;
        box-shadow: 1px 2px 8px 7px rgba(34, 60, 80, 0.2);
    }

    .hide {
        display: none;
    }

    details {
        $img-marker: "data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=";

        position: relative;
        margin-bottom: 0.5rem;
        min-height: 1rem;
        max-height: 3rem;
        transition: min-height 0.15s linear, max-height 0.5s linear;
        -webkit-transition: min-height 0.15s linear, max-height 0.5s linear;
        will-change: max-height;
        overflow: hidden;

        summary {
            &::-webkit-details-marker {
                display: none;
            }
            &::-moz-list-bullet {
                list-style-type: none;
            }

            display: inline-block;

            padding-left: 1.5em;

            cursor: pointer;
            outline: 0;
            transition: color 0.12s;
            -webkit-transition: color 0.12s;

            &::before {
                content: "";
                left: 0;
                top: 1px;
                position: absolute;
                background: url($img-marker) no-repeat 50% 50% / 1em 1em;
                width: 1em;
                height: 1em;
                transition: transform 0.1s linear;
                -webkit-transition: transform 0.1s linear;
            }

            &:hover {
                color: #616161;
            }

            & ~ * {
                padding-left: 1.5em;
                opacity: 0;
                transition: opacity 0.15s linear;
                -webkit-transition: opacity 0.15s linear;
            }
        }

        &[open] {
            min-height: 2em;
            max-height: 500em;

            summary {
                color: #616161;

                & ~ * {
                    opacity: 1;
                }

                &:before {
                    transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                }
            }
        }
    }

    ul {
        margin: 20px 0 0 0;
        padding: 0;
    }

    li {
        list-style-type: none;
        margin-bottom: 15px;
    }

    .trailerBlock {
        margin-bottom: 20px;
    }
}
