%desctop-size {
    width: 950px;
    height: 440px;
    position: relative;
}

.sliderWrapper {
    @extend %desctop-size;
    z-index: 100;
    box-shadow: rgba(34, 60, 80, 0.2) 1px 2px 8px 7px;

    .sliderBlock {
        @extend %desctop-size;
    }

    img {
        @extend %desctop-size;
        object-fit: cover;
        width: 950px;
        height: 440px;
    }

    .sliderBtnBlock {
        @extend %desctop-size;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        width: 890px;
        z-index: 200;
        margin-top: -440px;
        transition: 0.5s;
        opacity: 0;

        &.hide {
            display: none;
        }

        &:hover {
            opacity: 1;
        }

        button {
            background-color: #616161;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: none;
            outline: none;
            cursor: pointer;
            transition: 0.15s;

            &:hover {
                background-color: #f4f4f4;
                box-shadow: 0 0 7px #f4f4f4;
            }

            &:focus {
                bottom: 5px;
            }

            &:active {
                transform: translateY(2px);
            }

            svg {
                g {
                    transform-origin: 10px 10px;
                }
            }

            .left {
                transform: rotate(-90deg);
                position: relative;
                right: 4px;
                top: 2px;
            }

            .right {
                transform: rotate(90deg);
                position: relative;
                left: 4px;
                top: 2px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .sliderWrapper {
        width: 750px;
        height: 340px;

        .sliderBlock {
            width: 750px;
            height: 340px;
        }

        img {
            width: 750px;
            height: 340px;
        }

        .sliderBtnBlock {
            width: 700px;
            height: 340px;
            margin-top: -340px;
            opacity: 1;

            button {
                width: 90px;
                height: 90px;

                &:hover {
                    background-color: #616161;
                    box-shadow: none;
                }

                svg {
                    g {
                        transform-origin: 5px 5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .sliderWrapper {
        width: 350px;
        height: 340px;

        .sliderBlock {
            width: 350px;
            height: 340px;
        }

        img {
            width: 350px;
            height: 340px;
        }

        .sliderBtnBlock {
            width: 330px;
            height: 340px;
            margin-top: -340px;

            button {
                width: 65px;
                height: 65px;

                svg {
                    height: 23px;
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .sliderWrapper {
        width: 300px;
        height: 300px;

        .sliderBlock {
            width: 300px;
            height: 300px;
        }

        img {
            width: 300px;
            height: 300px;
        }

        .sliderBtnBlock {
            width: 280px;
            height: 300px;
            margin-top: -300px;

            button {
                width: 40px;
                height: 40px;

                svg {
                    height: 15px;
                }

                .left {
                    right: 13px;
                }

                .right {
                    left: -9px;
                }
            }
        }
    }
}
